# Criação da dimensão tempo

# 

2. Conectar no banco de dados

In [2]:
Use DWVendas

In [1]:




SET LANGUAGE Portuguese;


-- Declaração dos parâmetros de entrada
DECLARE @DataInicio DATE = '2020-01-01';
DECLARE @DataTermino DATE = '2023-12-31';

drop table if exists Dimensao.DimTempo

-- Criação da tabela de dimensão de tempo
CREATE TABLE Dimensao.DimTempo (
    Data DATE NOT NULL ,
    Ano INT NOT NULL,
    Mes INT NOT NULL,
    Dia INT NOT NULL,
    NomeMesExtenso VARCHAR(20) NOT NULL,
	NomeMesAbreviado VARCHAR(20) NOT NULL,
	MesAnoExtenso VARCHAR(20) NOT NULL,
	MesAnoAbreviado VARCHAR(20) NOT NULL,
    NomeDiaSemana VARCHAR(20) NOT NULL,
    NumeroDiaSemana INT NOT NULL,
    DiaDoAno INT NOT NULL,
    SemanaDoAno INT NOT NULL,
    Trimestre INT NOT NULL,
	Constraint PK_DimTempo PRIMARY KEY(Data)
);

-- Variável para iterar as datas
DECLARE @DataAtual DATE = @DataInicio;
DECLARE @TempoID INT = 1;

-- Loop para popular a tabela DimTempo
WHILE @DataAtual <= @DataTermino
BEGIN
    INSERT INTO Dimensao.DimTempo (
        Data,
        Ano,
        Mes,
        Dia,
        NomeMesExtenso,
		NomeMesAbreviado,
		MesAnoExtenso,
		MesAnoAbreviado,
        NomeDiaSemana,
        NumeroDiaSemana,
        DiaDoAno,
        SemanaDoAno,
        Trimestre
    )
    VALUES (
        @DataAtual,
        YEAR(@DataAtual),
        MONTH(@DataAtual),
        DAY(@DataAtual),
        DATENAME(MONTH, @DataAtual),
		FORMAT(@DataAtual,'MMM','Pt-Br'),
		CONCAT(YEAR(@DataAtual),'-',DATENAME(MONTH, @DataAtual)),
		CONCAT(YEAR(@DataAtual),'-',FORMAT(@DataAtual,'MMM','Pt-Br')),
        DATENAME(WEEKDAY, @DataAtual),
        DATEPART(WEEKDAY, @DataAtual),
        DATEPART(DAYOFYEAR, @DataAtual),
        DATEPART(WEEK, @DataAtual),
        DATEPART(QUARTER, @DataAtual)
    );

    -- Incrementa a data e o TempoID
    SET @DataAtual = DATEADD(DAY, 1, @DataAtual);
    SET @TempoID = @TempoID + 1;
END;

In [2]:

ALTER TABLE [Fato].[Vendas]  WITH CHECK ADD FOREIGN KEY([SK_Cliente])
REFERENCES [Dimensao].[D_Clientes] ([SK_Cliente])
GO